<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Pupper Doggo</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/client/static/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<h1 class="display-4"><%= pupper.name %></h1>
		<hr class="my-4">
		<p><b>Age: </b><%= pupper.age %></p>
		<p><b>Weight: </b><%= pupper.weight %></p>
		<p><b>Favorite Activities: </b><%= pupper.activity %></p>
		<a href='/' class="btn btn-outline-dark">View all Pupper Doggos</a>
		<a href='<%= pupper._id %>/edit' class="btn btn-outline-primary">Edit this Pupper Doggo</a>
		<a href='<%= pupper._id %>/destroy' class="btn btn-outline-danger">Delete this Pupper Doggo</a>	
	</div>	
</body>
</html>