<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Dojo Secrets</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<h1 class="display-4">Dojo Secrets</h1>
		<p class="lead">Welcome, <%= session.first_name %></p>
		<hr class="my-4">
		<% if(messages.errors) { %>
            <% for(error of messages.errors) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert"><%= error %></div>
            <% } %>
        <% } %>
		<p class="lead"><b>Wanna comment on this secret? </b><em><%= secrets.secret %></em></p>		
		<form action='/comments/<%= secrets._id %>' method='post' class="form=group">
			<textarea name="comment" class="form-control" placeholder="Leave your comment here!"></textarea>
			<button type="submit" class="btn btn-dark">Submit</button>
		</form>
		<hr class="my-4">
		<h4>Check out these comments!</h4>
		<% for (var comment of secrets.comments) { %>
			<p class="lead"><%= comment.comment %></p>
		<% } %>	
		<hr class="my-4">
		<a href='/secrets' class="btn btn-primary">Home</a>
		<a href='/logout' class="btn btn-danger">Logout</a>
	</div>
</body>
</html>