<!DOCTYPE html>
<html lang="en">
<head>
<meta name=charset content="utf-8"><title>Dojo Secrets</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<h1 class="display-4">Dojo Secrets</h1>
		<p class="lead">Welcome, <%= session.first_name %></p>
		<hr class="my-4">
		<% if(messages.errors) { %>
            <% for(error of messages.errors) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert"><%= error %></div>
            <% } %>
        <% } %>
		<form action='/create' method='post' class="form-group">
			<p class="lead">Spill your secret: <textarea name="secret" class="form-control" placeholder="Spill it here..."></textarea></p>
			<button type="submit" class="btn btn-dark">Submit</button>
		</form>
		<hr class="my-4">
		<h4>Check out these secrets!</h4>
		<table class="table table-borderless">
			<% for (var secret of secrets) { %>
			<tbody>
				<tr>
					<td><a href='/secrets/<%= secret._id %>' class="add"><%= secret.secret %></a></</td>
					<% if (secret.user_id == session._id) { %>
					<td><a href='/delete/<%= secret._id %>' class="delete">Delete</a></td>
					<% } %>
			<% } %>
				</tr>
			</tbody>
		</table>	
		<hr class="my-4">
		<a href='/logout' class="btn btn-danger">Logout</a>
	</div>
</body>
</html>